[enabled]

# List here the names of the Python modules from which you wish to
# enable/disable logging. By default, logging is on.
#
# For example, to disable the logging of the module 'actor.py', which generates
# the file $HET2_DEPLOY/log/actor/actor.log, use:
#
# actor = false
#
actor = false
het = false
userinterpreter = false
